@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,600&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  vertical-align: baseline;
  font-family: "raleway";
}

a {
  color: #1d1f22;
  text-decoration: none;
}

a:link {
  color: green;
}

li {
  list-style: none;
}